<?xml version="1.0"?>
<config>
    <modules>
        <TM_Purify>
            <version>0.1.0</version>
        </TM_Purify>
    </modules>
    <global>
        <helpers>
            <purify>
                <class>TM_Purify_Helper</class>
            </purify>
        </helpers>
    </global>
</config>